<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Entries</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../styles.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../view.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../sidebar.css'>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <img src="logo.svg" alt="Logo">
        </div>
        <ul class="navbar-menu">
            <li><a href="/">Home</a></li>
            <div class="dropdown">
                <button class="dropbtn">Entries</button>
                <div class="dropdown-content">
                    <a href="/entries/add">Add Entry</a>
                    <a href="/entries/view">View Entries</a>
                </div>
            </div>
            <li><a href="/led">IOT Control</a></li>
        </ul>
    </nav>
    <br>
    <h1>View Entries</h1>
    <details>
        <summary>Search Sort Filter</summary>
         <form action="/entries/view" method="post" class="search_sort_filter">
            <label for="search">From</label>
            <input type="date" name="From" id="From">
            <label for="search">Till</label>
            <input type="date" name="Till" id="Till">

            <label for="search">Search</label>
            <input type="text" name="search" id="search">

            <label for="sort">Sort</label>
            <select name="sort" id="sort">
                <option value="name">Name</option>
                <option value="checkin">Check-in</option>
                <option value="checkout">Check-out</option>
            </select>
            <select name="order" id="order">
                <option value="desc">Descending</option>
                <option value="asc">Ascending</option>
            </select>
            <input type="submit" value="Search">
        </form>
    </details>
       

    <br>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>NOP</th>
                <th>AC</th>
                <th>Non-AC</th>
                <th>Check-in</th>
                <th>Check-out</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.nop}}</td>
                <td>{{this.ac}}</td>
                <td>{{this.nonac}}</td>
                <td id="ind{{@index}}">{{this.checkin}}</td>
                <td id="outd{{@index}}">{{this.checkout}}</td>
                <td>
                    <a href="/entries/edit/{{this._id}}">Edit</a>
                    <a href="/entries/delete/{{this._id}}">Delete</a>
            </tr>
            {{/each}}
        </tbody>
    </table>

</body>
<script>
    const checkinElements = document.querySelectorAll("[id^='ind']");
    const checkoutElements = document.querySelectorAll("[id^='outd']");

    checkinElements.forEach((element, index) => {
        const checkin = new Date(element.innerHTML);
        element.innerHTML = checkin.toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' });
    });

    checkoutElements.forEach((element, index) => {
        const checkout = new Date(element.innerHTML);
        element.innerHTML = checkout.toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' });
    });
</script>


</html>